{% extends 'FluxDesignPatternPlaygroundBundle:Global:layout.html.twig' %}

{% block titulo %}
    {% trans %}observer{% endtrans %}
{% endblock %}

{% block description %}
    {% trans %}description.observer{% endtrans %}
{% endblock %}

{% block recursos %}
{% endblock %}

{% block menu %}
    {{ knp_menu_render('FluxDesignPatternPlaygroundBundle:Builder:mainMenu') }}
{% endblock %}

{% block principal %}
    <div class="constrictor clearfix">
        {{ weatherData.updateRandomMeasurements }}
        <h4>Subject (weather station) updated and observer (current display) registred</h4>
        <h5>Display: {{ currentDisplay.display }}</h5>
        {{ weatherData.updateRandomMeasurements }}
        <h4>Subject updated</h4>
        <h5>Display: {{ currentDisplay.display }}</h5>
        {{ weatherData.removeObserver(currentDisplay) }}
        {{ weatherData.updateRandomMeasurements }}
        <h4>Subject updated and observer unregistred</h4>
        <h5>Display: {{ currentDisplay.display }}</h5>
    </div>
{% endblock %}
